@import 'tailwindcss';

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-300: #d4d4d8;
  --color-indigo-500: #6366f1;
  --color-indigo-400: #818cf8;
}

@layer base {
  body {
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-300);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
